.row    {
    display: flex;
    margin: 20px;
}
.col    {
    flex: 1;
    margin: 10px;
    background-color: teal;
    color: white;
    text-align: center;
   
}

.col-2  {
    flex: 2;
    background-color: teal;
    color: white;
    text-align: center;
    margin: 10px;
    
}

.col-3 {
    flex: 5;
    background-color: teal;
    color: white;
    margin: 10px;
    text-align: center;
    
    
}
