body    {
    background-color: white;
}

h1 {
    font-size: 60px;
    display: inline-block;
    border: 5px solid black;
    padding: 10px;
    margin: 0px;
  }
  
  p {
    font-size: 25px;
    line-height: 50px;
  }

.green-text {
  color: green;

}

#yellow-text {
  color: yellow
  display: inline-block;
}


#mid-section p {
  color: green;
}