.container{
    width: 950px ;
    background-color: silver ;
    margin:0px auto ;
    padding: 15px;
}

add inline blcok to yellow


add spacing between blue and red
add margin...to the blue to create the space